/*Cor do texto - 802A18
Cor bot„o - 8B5E3C
Cor do fundo gradiente - FFEFCD e BD9671*/
@font-face {
	font-family: maya;
	src: url(../fonts/Maya.ttf);
}
@font-face {
	font-family: mayan;
	src: url(../fonts/Mayan.ttf);
}
@font-face {
	font-family: souses-regular;
	src: url(../fonts/Souses-Regular.ttf);
}
@font-face {
	font-family: souses-bold;
	src: url(../fonts/Souses-Bold.ttf);
}

::-webkit-scrollbar-track {
  background-color: #fff7e8;
}

::-webkit-scrollbar {
  width: 0.3em;
  background-color: #fff7e8;
}

::-webkit-scrollbar-thumb {
  background-color: #8B5E3C;
}

@media (max-width: 600px) {
  .screen-size-small {
    display: block;
  }
}

h2 {
	font-family: souses-bold;
}

body {
	height: 100%;
	overflow:hidden;
	margin: 0px;
	list-style: none;
	background-color: transparent;	
	font-family: souses-regular;
}

html {
	background-image: url("../img/background.png");
	background-repeat: no-repeat;
	background-color: #FFEFCD;
	background-size: cover;
	background-position: center;
}

main {
	position: relative;
	width: 100%;
	height: 90%;
	padding-top: 56.25%;
}

.centered {
	position: absolute;          
	left: 50%;                                  
	top: 50%;
	transform: translate(-50%, -50%);
}
.centeredX {
	position: absolute;          
	left: 50%;                                  
	transform: translateX(-50%);
}
.centeredY {
	position: absolute;                                           
	top: 50%;
	transform: translateY(-50%);
}
.screen-size-small {
	display: none;
}

.enfeite {
	width: 100%;
	height: 2vw;
	background-image: url("../img/enfeite.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: left;
	position: absolute;
	left: 0;
}
.top {top: 1%;}
.bottom{ bottom: 1%;}
.text { color: #802A18; font-size: 2vw;}
.subtitle { font-size: 1em; text-align: center;}
.btn { border-color: transparent; }
/* sobrescritos ================================= */
h4 { font-family: souses-bold }
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    color: #fff;
    font-family: souses-bold;
    background-color: #8B5E3C;
    border: 1px solid #8B5E3C;
}
.nav>li>a {color: #802A18;}
.nav-tabs {border-bottom: 1px solid #802A18;}
.nav>li>a:focus, .nav>li>a:hover {text-decoration: none;background-color: #fff7e8;border-color: #8B5E3C;}

.btn-primary {color: #fff;background-color: #8B5E3C;border-color: #8B5E3C;}
.btn-primary:hover {background-color: #802A18;border-color: #8B5E3C;}

.modal-content {background-color: #FFEFCD;color: #802A18;}
.modal-content h1 { font-family: souses-bold; font-size: 2vw; }
.modal-footer { border-top: 1px solid #802A18;}
.modal-header { border-bottom: 0px solid #802A18;}

.close { box-shadow: none;}
.close:hover { background-color: transparent;}
.close:hover span {padding-right: 0;}
.close:hover span:after { opacity: 0; right: 0;}

/* buttons ================================= */
button {
	background-color: #8B5E3C;
	color: #fff;
	padding: 0.2vw 1vw;
	font-family: sans-serif;
	font-size: 1.3vw;
	border-radius: 0.5vw;
	border: none;
	box-shadow: 0px 2px 2px 0px #333;
	font-family: souses-regular;
}

button:hover{
	background-color: #802A18;
}

button:active {
	background-color: #662012;
}
button:focus {
	outline: 0;
}

button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

button:hover span {
  padding-right: 25px;
}

button:hover span:after {
  opacity: 1;
  right: 0;
}
/* index ================================= */
#index .equipe {
	margin-top: 10%;
	font-size: 1.5vw;
}
#index .text {
	position: absolute;
    left: 5%;
    top: 50%;
	transform: translateY(-50%);
    height: 80%;
    width: 30%;
    font-size: 2vw;
}
#index .text img { width: 80%; }
#index .map {
	position: absolute;
    right: 0;
    top: 50%;
	transform: translateY(-50%);
    height: 90%;
    width: 70%;
    text-align: center;
}
#index .map-background {
	height: 100%;
	z-index: -100;
}
.map-topic-imgs {
	height: 5vw;
}
.costumes {
	position: absolute;
	right: 38%;
    top: 5%;
}
.pensadores {
	position: absolute;
	right: 42%;
    top: 25%;
}
.expansao {
	position: absolute;
	left: 22%;
    top: 21%;
}
.historia {
	position: absolute;
	left: 25%;
    top: 35%;
}
.etica-1 {
	position: absolute;
	right: 49%;
    top: 41%;
}
.etica-2 {
	position: absolute;
	right: 44%;
    top: 45%;
}
.queda {
	position: absolute;
	left: 31%;
    bottom: 38%;
}
.conclusao {
	position: absolute;
	right: 48%;
    bottom: 28%
}
.bibliografia {
	position: absolute;
	right: 42%;
    bottom: 18%;
}

button.costumes {
	position: absolute;
	left: 63%;
    top: 10%;
}
button.pensadores {
	position: absolute;
	left: 57%;
    top: 23%;
}
button.expansao {
	position: absolute;
	left: 34%;
    top: 24%;
}
button.historia {
	position: absolute;
	left: 33%;
    top: 38%;
}
button.etica {
	position: absolute;
	left: 52%;
    top: 39%;
}
button.queda {
	position: absolute;
	left: 39%;
    bottom: 41%;
}
button.conclusao {
	position: absolute;
	left: 52%;
    bottom: 32%;
}
button.bibliografia {
	position: absolute;
	left: 58%;
    bottom: 20%;
}

button.sound, button.mute, button.back {
    border: 0px solid #fff !important;
    padding: 2em 2em;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-color: rgba(0,0,0,0);
    outline: 0;
    transition: 0.1s;
    box-shadow: 0px 0px 0px 0px #000;

    position: absolute;
    top: 7%;
    right: 1%;
    z-index: 999
  }

button.sound:active, button.mute:active, button.back:active {
	border: 5px solid #fff;
	filter: opacity(.8);
}
button.sound:hover, button.mute:hover, button.back:hover {
	box-shadow: 0px 0px 0px #fff;
	transform: scale(1.05);
}

button.sound {background-image: url(../img/sound.png);}
button.sound:hover{background-image: url(../img/sound-off.png);}
button.mute {background-image: url(../img/sound-off.png);}
button.mute:hover{background-image: url(../img/sound.png);}
button.back {
	background-image: url(../img/back.png);
	left: 2%;
}
button + label {
	position: absolute;
	color: #333;
	text-align: center;
	left: 1%;
	top: 15%;
	font-size: 1.3vw;
	font-family: souses-bold;
	width: 7vw
}

.equipe {
	background-color: #802A13;
    color: #fff;
}
/* costumes ================================= */
#costumes header img:first-child {
	position: absolute;
	top: 8%;
	left: 10%;
	width: 4vw;
}
#costumes header img:nth-child(2) {
	position: absolute;
	top: 7%;
	left: 17%;
	width: 18vw;
}
#costumes .text {
	position: absolute;
    left: 2%;
    top: 20%;
    height: 72%;
    width: 50%;
    font-size: 1.5vw;
    overflow: auto;
    text-indent: 3em
}
#costumes .map {
	position: absolute;
    right: 2%;
    top: 20%;
    height: 50%;
    width: 45%;
    font-size: 1.5vw;
}
#costumes #etica-photos {
    width: 100%;
}
/* expansao ================================= */
#expansao header img:first-child {
	position: absolute;
	top: 8%;
	left: 10%;
	width: 7vw;
}
#expansao header img:nth-child(2) {
	position: absolute;
	top: 7%;
	left: 19%;
	width: 18vw;
}
#expansao .text {
	position: absolute;
    left: 2%;
    top: 21%;
    height: 72%;
    width: 50%;
    font-size: 1.5vw;
    overflow: auto;
    text-indent: 3em;
}

#expansao .map {
	position: absolute;
    right: 2%;
    top: 21%;
    height: 50%;
    width: 45%;
    font-size: 1.5vw;
}
#expansao iframe {
    width: 100%;
    height: 100%;
}
/* historia ================================= */
#historia header img:first-child {
	position: absolute;
	top: 8%;
	left: 10%;
	width: 4.5vw;
}
#historia header img:nth-child(2) {
	position: absolute;
	top: 7%;
	left: 19%;
	width: 18vw;
}
#historia .text {
	position: absolute;
    left: 2%;
    top: 20%;
    height: 72%;
    width: 50%;
    font-size: 1.5vw;
    overflow: auto;
    text-indent: 3em
}

#historia .map {
	position: absolute;
    right: 2%;
    top: 20%;
    height: 50%;
    width: 45%;
    font-size: 1.5vw;
}
#historia iframe {
    width: 100%;
    height: 100%;
}
/* conclusao ================================= */
#conclusao header img:first-child {
	position: absolute;
	top: 8%;
	left: 10%;
	width: 4.5vw;
}
#conclusao header img:nth-child(2) {
	position: absolute;
	top: 7%;
	left: 19%;
	width: 18vw;
}
#conclusao .text {
	position: absolute;
    left: 2%;
    top: 19%;
    height: 72%;
    width: 97%;
    font-size: 1.5vw;
}

#conclusao .col-sm-4 {
	height: 100%;
	overflow: auto;
}


#conclusao .conclusao-membro {
    text-align: center;
     font-size: 1.5em;
    font-family: souses-bold;
    padding-bottom: 5%;
}
#conclusao .conclusao-membro img {
    border-radius: 100%;
    width: 5vw;
}
/* bibliografia ================================= */
#bibliografia header img:first-child {
	position: absolute;
	top: 8%;
	left: 10%;
	width: 4vw;
}
#bibliografia header img:nth-child(2) {
	position: absolute;
	top: 7%;
	left: 17%;
	width: 18vw;
}
#bibliografia .text {
	position: absolute;
    left: 2%;
    top: 19%;
    height: 72%;
    width: 90%;
    font-size: 1.5vw;
    overflow: auto;
}
/* pensadores ================================= */
#pensadores header img:first-child {
	position: absolute;
	top: 8%;
	left: 10%;
	width: 7vw;
}
#pensadores header img:nth-child(2) {
	position: absolute;
	top: 7%;
	left: 19%;
	width: 18vw;
}
#pensadores .nav-tabs {
	position: absolute;
    left: 2%;
    top: 20%;
    width: 100%;
}
#pensadores .tab-content {
	position: absolute;
    left: 2%;
    top: 28%;
    height: 67%;
    width: 96%;
    color: #802A18;
    font-size: 1.5vw;
    overflow-y: auto;
}
#pensadores .text {
	position: absolute;
    left: 2%;
    top: 19%;
    height: 72%;
    width: 50%;
    font-size: 1.5vw;
}

#pensadores .map {
	position: absolute;
    right: 2%;
    top: 19%;
    height: 50%;
    width: 45%;
    font-size: 1.5vw;
}

#pensadores #pensadores-photos {
    width: 100%;
}

/* queda ================================= */
#queda header img:first-child {
	position: absolute;
	top: 8%;
	left: 10%;
	width: 4vw;
}
#queda header img:nth-child(2) {
	position: absolute;
	top: 7%;
	left: 17%;
	width: 10vw;
}
#queda .text {
	position: absolute;
    left: 2%;
    top: 20%;
    height: 72%;
    width: 50%;
    font-size: 1.5vw;
    overflow: auto;
    text-indent: 3em
}

#queda .map {
	position: absolute;
    right: 2%;
    top: 20%;
    height: 50%;
    width: 45%;
    font-size: 1.5vw;
}
#queda iframe {
    width: 100%;
    height: 100%;
}
/*#queda .text {
	position: absolute;
    left: 2%;
    top: 19%;
    height: 72%;
    width: 90%;
    font-size: 1.5vw;
    overflow: auto;

    -webkit-column-count: 2;
	-moz-column-count: 2; 
	column-count: 2;
	-webkit-column-width: 50%; 
	-moz-column-width: 50%; 
	column-width: 50%;
*/
/* etica ================================= */
#etica header img:first-child {
	position: absolute;
	top: 7%;
	left: 10%;
	width: 7vw;
}
#etica header img:nth-child(2) {
	position: absolute;
	top: 7%;
	left: 19%;
	width: 11vw;
}
#etica .text {
	position: absolute;
    left: 2%;
    top: 20%;
    height: 72%;
    width: 50%;
    font-size: 1.5vw;
    overflow: auto;
    text-indent: 3em
}
#etica .map {
	position: absolute;
    right: 2%;
    top: 20%;
    height: 50%;
    width: 45%;
    font-size: 1.5vw;
}
#etica #etica-photos {
    width: 100%;
}