<button class="sound"></button>

<section id="bibliografia">
	<div class="enfeite top"></div>

	<button class="back"></button>
	<!--<label>Voltar para o mapa</label>-->

	<header>
		<img class="maia" src="img/mapa/bibliografia.png">
		<img class="maia" src="img/bibliografia/nome.png">
	</header>


	<div class="text row">
		<div class="col-sm-6">
			<h2>Livros</h2>
			<p>SANTOS JÚNIOR, S. A. <b>Cenários arqueológicos e os festivais pré-colombianos como mediadores de práticas turísticas.</b></p>
			<p>A América que os europeus encontraram</p>
			<p>Povos Mesoamericanos: Olmecas e Maias</p>
			<p>LAMBERT, M. <b>Civilização Maia – História e Pensamento</b></p>
		</div>
		<div class="col-sm-6">
			<h2>Sites</h2>
			<p><a target="_blank" href="https://escola.britannica.com.br/artigo/maia/481862">Escola Britannica : Os Maias</a></p>
			<p><a target="_blank" href="https://tarlton.law.utexas.edu/aztec-and-maya-law/maya-legal-system-sources-law">Maya Legal System and Sources of Law</a></p>
			<p><a target="_blank" href="http://blog.marcelolambert.com/2017/04/o-sagrado-para-civilizacao-maia-por.html">O sagrado para a civilização Maia</a></p>
			<p><a target="_blank" href="https://www.dkfindout.com/uk/history/mayans/">DK Find Out! Mayans</a></p>	
			<p><a target="_blank" href="https://mayas.mrdonn.org/">The Mysterious Mayas for Kids</a></p>
		</div>
	</div>
	<div class="enfeite bottom"></div>
</section>