<button id="audio"></button>

<section id="bibliografia">
	<div class="enfeite top"></div>

	<button class="back"></button>
	<!--<label>Voltar para o mapa</label>-->

	<header>
		<img class="maia" src="img/mapa/bibliografia.png">
		<img class="maia" src="img/bibliografia/nome.png">
	</header>


	<div class="text row">
		<div class="col-sm-6">
			<h2>Livros</h2>

			<p>PINTO, Joyce. <b>A concepção de humano no pensamento maia do período colonial (meados do século XVI a meados do XVII)</b>. 2013. 139 f.Dissertação (Mestrado em História Social). Faculdade de Filosofia, Letras e Ciências Humanas da Universidade de São Paulo, São Paulo, 2013.</p>

			<p>SANTOS, Júnior.<b>Cenários arqueológicos e os festivais pré-colombianos como mediadores de práticas turísticas.</b> Turismo & Sociedade . Curitiba, v. 9, n. 2, p. 1-20, maio./agosto de 2016.</p>

			<p><b>Climate and the collapse of Maya civilization.</b> G. H. Haug, D. Günther, L. C. Peterson, D. M. Sigman, K. A. Hughen e B. Aeschlimann, em Science, vol. 299, págs. 1731-1735, 2003.</p>

			<p><b>Possible role of climate in the collapse of Classic Maya civilization.</b> D. A. Hodell, J. H. Curtis e M. Brenner, em Nature, vol. 375, págs. 391-394, 1995.</p>

			<p>Annequim, Guy. <b>Religião e Ciência entre os Maias. In: A Civilização dos Maias.</b> Rio de Janeiro: Otto Pierre Editores, 1977</p>

			<p>Daniken, Erich von. <b>O que teria acontecido em 11 de Agosto de 3114 a.C.?. In: O dia em que os deuses chegaram.</b> São Paulo: Círculo do Livro, 1986.</p>

		</div>
		<div class="col-sm-6">
			<h2>Sites</h2>
			<p><a target="_blank" href="https://escola.britannica.com.br/artigo/maia/481862">Escola Britannica : Os Maias</a></p>
			<p><a target="_blank" href="https://tarlton.law.utexas.edu/aztec-and-maya-law/maya-legal-system-sources-law">Maya Legal System and Sources of Law</a></p>
			<p><a target="_blank" href="http://blog.marcelolambert.com/2017/04/o-sagrado-para-civilizacao-maia-por.html">O sagrado para a civilização Maia</a></p>
			<p><a target="_blank" href="https://www.dkfindout.com/uk/history/mayans/">DK Find Out! Mayans</a></p>	
			<p><a target="_blank" href="https://mayas.mrdonn.org/">The Mysterious Mayas for Kids</a></p>

			<p><a target="_blank" href="https://www.correiobraziliense.com.br/app/noticia/diversao-e-arte/2013/04/20/interna_diversao_arte,361580/mitos-trazem-perspectiva-historica-da-relacao-entre-o-homem-e-os-alimentos.shtml">Mitos trazem perspectiva histórica da relação entre o homem e os alimentos.</a></p>
			<p><a target="_blank" href="http://wp.clicrbs.com.br/protofutebol/2011/09/05/o-futebol-dos-maias/?topo=52,2,18,,159,e159">O futebol dos maias.</a></p>

			<p><a target="_blank" href="https://aulazen.com/historia/imperio-maia-civilizacao-religiao-cultura-arte-e-queda-do-povo-maia/">Império Maia – civilização, religião, cultura, arte e queda do povo maia.</a></p>
			<p><a target="_blank" href="https://historiazine.com/os-maias-75dc6c08d147">Historiazine : Os Maias</a></p>
			<p><a target="_blank" href="https://mundoeducacao.bol.uol.com.br/historia-america/civilizacao-maia-dominio-na-america-central.htm">Civilização Maia, domínio na América Central.</a></p>
			<p><a target="_blank" href="https://www.megacurioso.com.br/historia-e-geografia/36398-nova-descoberta-muda-rumo-de-estudos-sobre-a-origem-dos-maias.htm">Nova descoberta muda rumo de estudos sobre a origem dos maias.</a></p>


		</div>
	</div>
	<div class="enfeite bottom"></div>
</section>

