<button id="audio"></button>

<section id="conclusao">
	<div class="enfeite top"></div>

	<button class="back"></button>
	<!--<label>Voltar para o mapa</label>-->

	<header>
		<img class="maia" src="img/mapa/conclusao.png">
		<img class="maia" src="img/conclusao/nome.png">
	</header>


	<div class="text row">
	<div class="debora col-sm-4">
		<div class="conclusao-membro">
			<img src="img/equipe/debora.jpg">
			Débora Moura
		</div>
		<p>Não há dúvidas de que o estudo da civilização Maia é enigmático e fascinante ao mesmo tempo.</p>
		<p>Inicialmente pensei que fossem um povo pacato, vivendo em paz com seus vizinhos e sobrevivendo da agricultura. Porém descobri que os Maias na verdade tinham uma complexa administração, mercado de vendas internas e externas. Hieroglifos descobertos recentemente motram que eles estavam constantemente travando guerras sangrentas. A relação dos Maias com a morte era diferente da nossa sociedade atual. Eram um povo brutal e faziam vários sacrifícios humanos, pois, para eles, a vida e o sangue humano eram as oferendas mais solenes que poderia se dar aos deuses.</p>
		<p>Eles tinham uma esquema descentralizado de poder e as cidades maias tinham suas próprias dinastias. Os reis se utilizavam das construções monumentais para expressar o seu poder e a prosperidade de sua cidade. Isso reflete que os maias estava bastante preocupados com a forma que os seus vizinhos os viam, pois com suas pirâmides, tentavam despertar um sentimento de reverência das outras cidades.</p>
		<p>A engenharia Maia é algo impressionante. Eles conseguiam construir gigantes prédios, um deles tem uma altura de 22 andares (duas vezes a altura do cristo rendentor). Além disso, também criaram aquedutos que desviavam a água de rios próximos para as cidades e estradas que chegavam a ter 100km de extensão. Seu sistema matemático era complexo e bem desenvolvido, eles conheciam até o conceito de zero. Possuiam também um extenso conhecimento em astronomia, listando planetas e astros que conhecemos hoje. Tudo isso nos mostra o quanto a civilização maia se dedicava à estudos das mais diversas áreas e se preocupavam com a perpetuação desse conhecimento com seus descendentes.</p>
		<p>Eu realmente gostei da intenção deste trabalho, pois foi possível conhecer mais de sobre os maias e outras civilizações que foram marcantes para a humanidade. Eu pude ver como esses povos lidavam com questões como a morte, as guerras, o estudo tecnológico, o pensamento filosófico, códigos de ética, leis e várias curiosidades. Está mais claro para mim que a ética de um povo está diretamente ligado com seus costumes, rituais e o que eles acreditavam ser justo.</p>
	</div>
	<div class="sarah  col-sm-4">
		<div class="conclusao-membro">
			<img src="img/equipe/sarah.jpeg">
			Sarah Myrlane
		</div>
		<p> O que eu pude aprender nesse período estudando a civilização maia, que primeiro eles era muito ligados a religião. Os deuses deles dominavam muito as suas vidas, a mitologia estava relacionada a agricultura, nas construções, nos fenômenos da natureza, nos governantes, até em atividades de lazer como no seu jogo, pok-ta-pok, tinha por trás um conceito religioso.Essa noção deles do tempo cíclico foi algo que me chamou muita atenção, acreditar que as coisas podem se repetir e não ter uma morte é algo diferente do que penso, mas fez com que eles investissem em construções e calendários que fez com que a sociedade deles expandissem.</p>
		<p>Um aspecto deles que eu acho muito difícil de compreender é a questão do sacrifício humano, na visão deles o sangue era muito sagrado, que devia ser entregue aos deuses para evitar o caos. Muitas vidas humanas e até de animais eram ceifadas, é algo que considero muito difícil conseguir compreender. Além disso, foi bem difícil trabalhar na questão dos pensadores, porque não existe registro de documentos de uma pessoa que escreveu sobre questões relacionadas à ética, existiam os deuses e governantes que se proclamavam deuses e fizeram grandes feitos durante o seu reinado.</p>
		<p>Acredito que não se sabe muita coisa sobre eles devido à perda de materiais que a invasão espanhola causou. Entretanto, mesmo com pouco material sobre eles é possível perceber nos vários registros feitos por arqueólogos que, de fato, eles foram uma sociedade muito importante, principalmente no seu período de auge, muito importante e que contribui demais para nossa sociedade contemporânea.</p>
	</div>
	<div class="vinicius  col-sm-4">
		<div class="conclusao-membro">
			<img src="img/equipe/vini.jpeg">
			Vinícius Castelo
		</div>
		<p>Os maias foram uma civilização que se estabeleceu em territórios que hoje fazem parte do México e da Guatemala. Além de uma civilização riquíssima em arte, cultura, também foi uma das civilizações que mais causou uma revolução de tecnologia, na matemática, astronomia, arquitetura, agricultura, entre outras áreas. Estudando mais a fundo a história dos mesmos, conclui que antes de tudo os maias sempre buscavam melhorar a cada dia que passava o que eles faziam e o que eram, se tornando sempre um ser melhor, levando em consideração que na sua crença ele só conseguiria se tornar um Deus, ou um espelho de um Deus quando estivesse completamente mudado, e fosse a perfeição aqui na terra.</p>
		<p>Apesar de ter jogos e outros eventos com muita violência, tinham crenças firmes e bem pautadas para eles, seguindo a risca aquele código.</p>
		<p>Obviamente, esses povos não desapareceram, mas se miscigenaram e continuam sendo um grupo étnico importante espalhado não só no México e Guatemala, mas também em países vizinhos, levando a sua riqueza na cultura e inteligência sempre com eles.</p>
	</div>
	</div>
	<div class="enfeite bottom"></div>
</section>