<button id="audio"></button>

<section id="conclusao">
	<div class="enfeite top"></div>

	<button class="back"></button>
	<!--<label>Voltar para o mapa</label>-->

	<header>
		<img class="maia" src="img/mapa/conclusao.png">
		<img class="maia" src="img/conclusao/nome.png">
	</header>


	<div class="text row">
	<div class="debora col-sm-4">
		<div class="conclusao-membro">
			<img src="img/equipe/debora.jpg">
			Débora Moura
		</div>
		<p>Não há dúvidas de que o estudo da civilização Maia é enigmático e fascinante ao mesmo tempo. A relação dos Maias com a morte era diferente da nossa sociedade atual. Eram um povo brutal, pois, para eles, a morte era apenas uma passagem de uma vida para outra.</p>
		<p>A ética maia permitiu que essa cultura se desenvolvesse e se consolidasse em seu tempo, adaptando-se ao meio em que viviam de acordo com suas observações e crenças sobre a vida e com o mundo ao seu redor.</p>
		<p>Para mim, ética significa isso: melhor forma de viver, adaptar-se e sobreviver. Ao passar dos anos, algumas mudanças nas relações humanas ocorreram, fazendo com que alguns ideais se tornassem obsoletos e inconcebíveis para a maioria, como rituais de sacrifício humano. Hoje, mantemos relações de fraternidade e igualdade, onde a matar, ferir, humilhar, qualquer atitude que reduza a o conceito de dignidade humana significa transgredir esse costume, causando rejeição da sociedade.</p>
	</div>
	<div class="sarah  col-sm-4">
		<div class="conclusao-membro">
			<img src="img/equipe/sarah.jpeg">
			Sarah Myrlane
		</div>
		<p> O que eu pude aprender nesse período estudando a civilização maia, que primeiro eles era muito ligados a religião. Os deuses deles dominavam muito as suas vidas, a mitologia estava relacionada a agricultura, nas construções, nos fenômenos da natureza, nos governantes, até em atividades de lazer como no seu jogo, pok-ta-pok, tinha por trás um conceito religioso.Essa noção deles do tempo cíclico foi algo que me chamou muita atenção, acreditar que as coisas podem se repetir e não ter uma morte é algo diferente do que penso, mas fez com que eles investissem em construções e calendários que fez com que a sociedade deles expandissem.</p>
		<p>Um aspecto deles que eu acho muito difícil de compreender é a questão do sacrifício humano, na visão deles o sangue era muito sagrado, que devia ser entregue aos deuses para evitar o caos. Muitas vidas humanas e até de animais eram ceifadas, é algo que considero muito difícil conseguir compreender. Além disso, foi bem difícil trabalhar na questão dos pensadores, porque não existe registro de documentos de uma pessoa que escreveu sobre questões relacionadas à ética, existiam os deuses e governantes que se proclamavam deuses e fizeram grandes feitos durante o seu reinado.</p>
		<p>Acredito que não se sabe muita coisa sobre eles devido à perda de materiais que a invasão espanhola causou. Entretanto, mesmo com pouco material sobre eles é possível perceber nos vários registros feitos por arqueólogos que, de fato, eles foram uma sociedade muito importante, principalmente no seu período de auge, muito importante e que contribui demais para nossa sociedade contemporânea.</p>
	</div>
	<div class="vinicius  col-sm-4">
		<div class="conclusao-membro">
			<img src="img/equipe/vini.jpeg">
			Vinícius Castelo
		</div>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
	tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
	quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
	consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
	cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
	proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
	tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
	quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
	consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
	cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
	proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
	tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
	quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
	consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
	cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
	proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
	</div>
	</div>
	<div class="enfeite bottom"></div>
</section>