<button id="audio"></button>

<section id="expansao">
	<div class="enfeite top"></div>

	<button class="back"></button>
	<!--<label>Voltar para o mapa</label>-->

	<header>
		<img class="maia" src="img/mapa/expansao.png">
		<img class="maia" src="img/expansao/nome.png">
	</header>


	<div class="text">
	<p>Os maias foram crescendo a partir da agricultura e também com algumas atividades relacionadas à caça.Na análise dos seus ossos foi descoberto peixes, carne de animais de caça e outros alimentos caçados ou colhidos eram componentes importantes da sua alimentação.A sociedade maia começou a desenvolver formas básicas de cerâmica. Entre 600 e 300 a.C, os primeiros exemplos de arquitetura pública, encontrados na cidade de Uaxactún, como as plataformas de função doméstica ou religiosa, provavelmente datam deste período.</p>
	<p>A época que a civilização maia tem um maior desenvolvimento é no período clássico por volta 200 d. C. ao 900 d.c, onde tiveram  grande esplendor arquitetônico,uma notável hierarquização das elites,uma vasta e eficaz rede de comércio. Além de uma notável expansão da agricultura, principalmente de milho, base da alimentação deles É neste período que foram construídas as cidades de Tikal, Palenque, Copán e Uaxactún, entre outras. Nesta época ainda não existia uma unidade imperial, estas cidades funcionavam como cidades-estado independentes. Acredita-se que no auge, em 750, a população tenha ultrapassado 13 milhões.</p>
	</div>
	<div class="map">
		<iframe src="https://www.youtube.com/embed/7J8s3mNNh9c" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
		<p class="subtitle">O documentário "Mistérios da Civilização Maia" traz um resumo sobre a história desse povo. Assista para entender mais.</p>
	</div>

	<div class="enfeite bottom"></div>
</section>