<button id="audio"></button>

<section id="expansao">
	<div class="enfeite top"></div>

	<button class="back"></button>
	<!--<label>Voltar para o mapa</label>-->

	<header>
		<img class="maia" src="img/mapa/expansao.png">
		<img class="maia" src="img/expansao/nome.png">
	</header>


	<div class="text">
	<p>Os maias foram crescendo a partir da agricultura e também com algumas atividades relacionadas à caça. Na análise dos seus ossos foi descoberto peixes, carne de animais de caça e outros alimentos caçados ou colhidos eram componentes importantes da sua alimentação.A sociedade maia começou a desenvolver formas básicas de cerâmica. Entre 600 e 300 a.C, os primeiros exemplos de arquitetura pública, encontrados na cidade de Uaxactún, como as plataformas de função doméstica ou religiosa, provavelmente datam deste período.</p>
	<p>A época que a civilização maia tem um maior desenvolvimento é no período clássico por volta 200 d. C. ao 900 d.c, onde tiveram  grande esplendor arquitetônico,uma notável hierarquização das elites, uma vasta e eficaz rede de comércio. Além de uma notável expansão da agricultura, principalmente de milho, base da alimentação deles. </p>
	<p>É neste período que foram construídas as cidades de Tikal, Palenque, Copán e Uaxactún, entre outras. Ao lado temos um mapa da cidade de Palenque e os seus principais monumentos. Essas cidades foram projetadas com um padrão similar. Havia um palácio para o governante, uma praça para o mercado e várias pirâmides gigantes de degraus de pedra. As cidades compartilhavam a mesma cultura, mas permaneciam separadas umas das outras. Nunca existiu um <b>único</b> império maia, mas uma civilização amplamente interconectada. Acredita-se que no auge, em 750, a população tenha ultrapassado 13 milhões.</p>
	<br><br>
	<iframe src="https://www.youtube.com/embed/7J8s3mNNh9c" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
	<p>O documentário "Mistérios da Civilização Maia" traz um resumo sobre a história desse povo. Assista para entender mais.</p>
	
	</div>
	<div class="map">
		<img src="img/expansao/map.png">

		<button class="sol" data-toggle="modal" data-target="#sol-modal"><span>Templo do sol</span></button>
		<button class="cruz" data-toggle="modal" data-target="#cruz-modal"><span>Templo da cruz</span></button>
		<button class="inscricoes" data-toggle="modal" data-target="#inscricoes-modal"><span>Templo das inscrições</span></button>
		<button class="palacio" data-toggle="modal" data-target="#palacio-modal"><span>Palácio</span></button>
		<button class="bola" data-toggle="modal" data-target="#bola-modal"><span>Quadra de bola</span></button>
	</div>

	<div class="modal fade" id="sol-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h2 class="modal-title" id="exampleModalLabel">Templo do sol</h2>
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">&times;</span>
	        </button>
	      </div>
	      <div class="modal-body">
	        <img src="img/expansao/temple_of_the_sun.jpg"><p></p>
	        <p>O templo foi construído no final do século VII D.C. como parte do complexo conhecido como o Grupo da Cruz pelo rei Kan Bahlam (mais sobre esse rei pode encontrado na parte dos <a class="pensadores-link">Pensadores</a>).</p>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
	      </div>
	    </div>
	  </div>
	</div>

	<div class="modal fade" id="inscricoes-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h2 class="modal-title" id="exampleModalLabel">Templo das inscrições</h2>
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">&times;</span>
	        </button>
	      </div>
	      <div class="modal-body">
	        <img src="img/expansao/temple_of_the_inscriptions.jpg"><p></p>
	        <p>O Templo das Inscrições está situado na cidade maia de Palenque, no meio de uma selva tropical. Escondido na pirâmide estava a tumba de do rei Pacal, que governou por 68 anos (mais sobre o rei pode ser visto da parte dos <a class="pensadores-link">Pensadores</a>). Ele foi enterrado neste local de descanso em 683 EC. A tumba continha alguns dos mais belos objetos de jade já encontrados na Mesoamérica.</p>
	        <p>Esse templo recebeu esse nome pelas inscrições (glifos esculpidos) que podem ser vistos nas paredes do templo.</p>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
	      </div>
	    </div>
	  </div>
	</div>

	<div class="modal fade" id="palacio-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h2 class="modal-title" id="exampleModalLabel">Palácio</h2>
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">&times;</span>
	        </button>
	      </div>
	      <div class="modal-body">
	        <img src="img/expansao/palace.jpg">
	        <p></p>
	        <p>Um dos melhores exemplos da arquitetura maia é, sem dúvida, o Palácio Real de Palenque, o local clássico dos maias (250-800 dC) no estado de Chiapas, no México.</p>
	        <p>Embora a evidência arqueológica sugere que o palácio era a residência real dos governantes de Palenque no início do período clássico (250-600 dC), todos os edifícios visíveis do palácio datam do clássico tardio (600-800 / 900 dC), o período de sua o mais famoso rei Pacal, o Grande, e seus filhos. Esculturas de relevo em estuque e textos maias sugerem que o palácio era o coração administrativo da cidade, bem como uma residência aristocrática.</p>
	    	<p>Os arquitetos maias do Palácio inscreveram várias datas do calendário nos pilares dentro do palácio, datando a construção e as dedicatórias das várias salas, e variando entre 654-668 dC. A sala do trono de Pacal, a Casa E, foi criada em 9 de novembro de 654. A Casa A-D, construída pelo filho de Pacal, contém uma data de dedicatória de 10 de agosto de 720.</p>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
	      </div>
	    </div>
	  </div>
	</div>

	<div class="modal fade" id="bola-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h2 class="modal-title" id="exampleModalLabel">Quadra de bola</h2>
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">&times;</span>
	        </button>
	      </div>
	      <div class="modal-body">
	        <img src="img/expansao/ball_court.jpg">
	        <p></p>
	        <p>Local onde se jogavam os jogos de bola Maias. O jogo de bola maia foi jogado com grandes cortes de pedra. A quadra em si era um ponto focal das cidades maias e simbolizava a riqueza e o poder da cidade. A arena de jogo era na forma da letra I com plataformas altas em ambos os lados da quadra, permitindo um grande número de espectadores. Marcadores de corte de pedra portáteis, conhecidos como hacha, geralmente representando animais ou crânios, foram colocados ao redor da arena. O jogo era jogado por 2 semanas.</p>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
	      </div>
	    </div>
	  </div>
	</div>

	<div class="modal fade" id="cruz-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h2 class="modal-title" id="exampleModalLabel">Templo da cruz</h2>
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">&times;</span>
	        </button>
	      </div>
	      <div class="modal-body">
	        <img src="img/expansao/temple_of_the_cross.jpg">
	        <p></p>
	        <p>O Templo da Cruz é a maior e mais significativa pirâmide dentro das ruínas de Palenque. O templo é uma pirâmide de degraus contendo entalhes em baixo relevo. O templo foi construído para comemorar a ascensão de Chan Bahlum II ao trono após a morte de Pacal, o Grande.</p>
	        <p>As esculturas de baixo-relevo revelam Chan Bahlum recebendo o grande presente de seu antecessor. O motivo da cruz encontrado no complexo alude aos nomes dados aos templos, mas na realidade a cruz é uma representação da Árvore do Mundo que pode ser encontrada no centro do mundo de acordo com a mitologia maia.</p>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
	      </div>
	    </div>
	  </div>
	</div>


	<div class="enfeite bottom"></div>
</section>