<button id="audio"></button>

<section id="historia">
	<div class="enfeite top"></div>

	<button class="back"></button>
	<!--<label>Voltar para o mapa</label>-->

	<header>
		<img class="maia" src="img/mapa/historia.png">
		<img class="maia" src="img/historia/nome.png">
	</header>


	<div class="text">
	<p>A origem da civilização maia envolve algumas teorias entre os estudiosos. Uma delas diz que eles surgiram sozinhos em florestas pelo Sudoeste do México. Outros afirmam que surgiram com a civilização olmeca, um povo que viveu na costa do Golfo do México. Os maias teriam surgido entre 1000 a 700 A.C. na época que os olmecas viviam na cidade de La Venta. Essa última teoria tem sido a mais aceita entre os cientistas, pois ambos, maias e os olmecas tinham arquitetura bem similares.</p>

	<p>Na visão mística dos maias eles surgiram a partir do milho. Esse mito é relatado no registro documental deles, o Popol Vuh. Seus deuses teriam criado o homem inicialmente da lama, porém ela veio a se dissolver. Após isso tentaram criar o homem com madeira, mas viram que ela não tinha alma e facilmente eram destruídos pelo fogo. Esses deuses ficaram com muita raiva e teriam destruído o mundo com chuva e fogo. Mas por último criaram o homem de farinha e milho, que a veio a funcionar. Dessa forma, o milho era fundamental nessa sociedade, era uma matéria-prima que teria originado a sua formação.</p>
	</div>
	<div class="map">
		<iframe src="https://www.youtube.com/embed/ZOECheVvcyo" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
		<p class="subtitle">Débora Aladim explica de forma simples um pouco da história do povo maia, principais cidades e a chegada dos europeus em suas terras.</p>
	</div>
	

	<div class="enfeite bottom"></div>
</section>