<button id="audio"></button>

<section id="pensadores">
	<div class="enfeite top"></div>

	<button class="back"></button>
	<!--<label>Voltar para o mapa</label>-->

	<header>
		<img class="maia" src="img/mapa/pensadores.png">
		<img class="maia" src="img/pensadores/nome.png">
	</header>

	<ul class="nav nav-tabs">
		<li class="active"><a data-toggle="tab" href="#menu1">Pacal Votan</a></li>
		<li><a data-toggle="tab" href="#menu2">Kan Bahlam</a></li>
		<li><a data-toggle="tab" href="#menu3">Itzamná</a></li>
	</ul>

  <div class="tab-content">
    <div id="menu1" class="tab-pane fade in active">
      <h2>Pacal Votan</h2>
      <p>Como muitos dos materiais sobre os maias foi perdido devido à invasão espanhola não existe necessariamente um pensador que teve vários assuntos registrados sobre questões de ética.Entretanto, é importante destacar que se sabe que os deuses fundamentaram muito o pensamento dessa sociedade. Nesse sentido, houveram pessoas importantes, as quais se proclamavam como reencarnação de deuses, eram denominados como “kuhul ajaw”.</p>
      <p>Dentre alguns foi, Pacal (615 - 683 a.c) ele foi o rei de Palenque o maior de todos da civilização maia, ele tinha elevado importância, pois se proclamava como uma reencarnação do deus Kukulcan. Esse deus era também chamado de serpente emplumada, tinha o poder despertar os chacras da terra,levava a iluminação interior do homem, esse processo ocorria através do trabalho humano, essa atividade criativa que transformaria a natureza e o seu espírito. Assim, devido essa sua proclamação de deus os maias seguiam fielmente as suas ordens e queriam ter essa iluminação através da perfeição do trabalho.</p>
      <p>Dessa forma, ele fez com que o povo maia criasse diversas construções no seu período, como o palácio de Palenque, e também o mais famoso, o templo das inscrições desenhado por Pacal, o qual fica a sua tumba que têm diversos glifos e metáforas. Assim, mostra que essa ideia dele ser um deus que fazia o homem ter uma iluminação, fez com que essa civilização avançasse ainda mais em diversos conhecimentos.</p>
      <img class="maia" src="img/pensadores/pacal.jpg">
    </div>
    <div id="menu2" class="tab-pane fade row">
      <div class="col-sm-8">
        <h2>Kan Bahlam</h2>
        <p>Vivei entre 635 e 702 A.C. Foi o filho do rei Pacal e consolidou a dinastia do pai. Foi ele o responsável de criar o zero ao sistema numérico maia, bem como a capacidade de realizar sofisticados cálculos geométricos, que possibilitaram a realização de outras importantes dessas grandes  construções em Palenque. Com uma simples combinação de uma concha que representava o zero e depois um ponto o número 1 e depois um cinco apenas em posições diferentes eles conseguiam multiplicar assim chegavam em números incríveis.</p>
        <p>As observações de Kan Bahlam podem ter incluído descoberta de proporções como as raízes quadradas de retângulos. Com a utilização de varas e algumas cordas os engenheiros conseguiram medir as raízes quadradas dos retângulos. Essa medida foi utilizada na construção do Templo da Cruz, um dos grupos de templos mais fascinantes e complexos do mundo maia.</p>
    </div>
    <div class="col-sm-3">
      <img class="maia" src="img/pensadores/kan.jpg">
    </div>
</p>
    </div>
    <div id="menu3" class="tab-pane fade">
      <h2>Itzamná</h2>
      <p>Os deuses maias possuíam uma natureza antropomorfa, fitomorfa, zoomorfa e astral. A figura mais importante do panteão maia é Itzamná, deus criador, senhor do fogo e do coração. Representa a morte e o renascimento da vida na natureza. Itzamná é vinculado ao deus Sol, Kinich Ahau, e à deusa Lua, Ixchel, representada como uma velha mulher demoníaca.</p>
      <p>Alguns pesquisadores acreditam que seu nome deriva das palavras com as quais supostamente se definiu ante os homens: "Itz en Caan, itz en muyal" ("Sou o orvalho do céu, sou o orvalho das nuvens"). Porém, também parece significar 'Casa da Iguana'.</p>
      <p>As  criações de Itzamna vão muito além da escrita e da adivinhação: o deus foi responsável por criar o calendário e os rituais religiosos. Além disso, ensinou para humanidade o uso da medicina, a cultivar terras e introduziu um sistema de divisão de terras. Diferente de vários deuses, tanto da mitologia maia quanto de outras mitologias, Itzamna nunca foi associado a qualquer tipo de “rótulo violento”: como guerra, morte ou destruição.</p>
        
      <img class="maia" src="img/pensadores/itzamna.jpg">
    </div>
  </div>

	<div class="enfeite bottom"></div>
</section>