<button id="audio"></button>

<section id="queda">
	<div class="enfeite top"></div>

	<button class="back"></button>
	<!--<label>Voltar para o mapa</label>-->

	<header>
		<img class="maia" src="img/mapa/queda.png">
		<img class="maia" src="img/queda/nome.png">
	</header>


	<div class="text">
	<p>Após ao grande crescimento do período clássico estudiosos datam que entre 750 e 950, houve rápido declínio. Centros urbanos densamente povoados foram abandonados, e seus impressionantes edifícios viraram ruínas.</p>
	<p>Existem várias  hipóteses para explicar esse declínio: guerras internas, invasão estrangeira, surtos de doenças, dependência da monocultura, degradação ambiental e mudanças climáticas. O mais provável é que seja uma combinação de todos seus fatores. Em um ritmo menor dessa época mais ao sul os maias continuaram ainda prosperando. Entretanto, quando os espanhóis chegaram à América Central, a civilização maia já estava em franco declínio, com suas cidades-Estado arruinadas, cujas causas ainda não investigadas.</p>
	<p>Tal situação pode estar relacionada ao fortalecimento de outras civilizações da região, como os toltecas e os astecas, que possivelmente subjugaram os maias.</p>
	</div>
	<div class="map">
		<iframe src="https://www.youtube.com/embed/sj8cvzFHeFs" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
		<p class="subtitle">O documentário acima explora os mistérios sobre a queda na civilização Maia. Até hoje não há um consenso entre os historiadores sobre o assunto.</p>
	</div>
	

	<div class="enfeite bottom"></div>
</section>